extends ../layouts/default

block content
  h1 Involve your team in your development
  hr
  .lead
    Test test test test test test test test test
    Test test test test test test test test test
    Test test test test test test test test test
    Test test test test test test test test test
    Test test test test test test test test test
  a.btn.btn-large.btn-success(href="/auth/github", title="Signup") Signup with Github
